<div class="ajuda container">
    <p>Seja bem-vindo(a)! Aqui você encontra respostas para as dúvidas mais comuns sobre a
         compra de ingressos para nossos shows e eventos. Confira abaixo:</p>
    <h5>Como Comprar ingresso?</h5>
    <ol>
        <li>Se inscreva em nosso site</li>
        <li>Escolha o show que deseja</li>
        <li>Clique em "Comprar "Ingresso"</li>
        <li>E pronto seu ingresso está comprado</li>
      
    </ol>
    <h5>O que levar no dia do show? </h5>
    <ol>
        <li>Seu ingresso impresso ou pelo celular</li>
        <li>Um documento de foto (RG,CNH, carteira de estudante, se for meia entrada)
        </li>
        <li>Caso tenha comprado meia-entrada, leve o comprovante exigido (carteirinha, declaração, etc)</li>
    </ol>

    <h5>Ainda com dúvidas?</h5>
    <p>Fale com a nossa equipe pelo email: stageone@gmail.com ou pelo Whatsapp: (33) 99547-2547</p>
    <p>Estamos aqui para ajudar!</p>
</div>




<a href="/">Voltar</a>