<div id="carouselSimples" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselSimples" data-bs-slide-to="0" class="active"
            aria-current="true"></button>
        <button type="button" data-bs-target="#carouselSimples" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselSimples" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../img/Carrossel_TCR.png" alt="Banner 1">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/Carrossel_Alissia.png" alt="Banner 2">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/Carrossel_TR.png" alt="Banner 3">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSimples" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSimples" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>

<div class="showsInternacionais">
    <h1 class="display-4"> Shows Internacionais</h1>
    <div class="container-fluid cardsInter">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 w-100">
                    <img src="../img/TourCheminal.jpg" class="card-img-top" alt="Icon-Cheminal">
                    <div class="card-body">
                        <h5 class="card-title">The Cheminal Romance</h5>
                        <p class="card-text">06 de Fereveiro</p>
                        <button type="button" class="btn btn-dark">Comprar Ingresso</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 w-100">

                    <img src="../img/AlissiaCara_Tour.jpg" class="card-img-top" alt="Icon_Alissia">
                    <div class="card-body">
                        <h5 class="card-title">Alissia Cara</h5>
                        <p class="card-text">21 de Novembro</p>
                        <button type="button" class="btn btn-dark">Comprar Ingresso</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 w-100">

                    <img src="../img/TheRose_Tour.jpg" class="card-img-top" alt="icon-TheRose">
                    <div class="card-body">
                        <h5 class="card-title">The Cheminal Romance</h5>
                        <p class="card-text">08 de Setembro</p>
                        <button type="button" class="btn btn-dark">Comprar Ingresso</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 w-100">

                    <img src="../img/LouisTour.jpg" class="card-img-top" alt="Icon-Louis">
                    <div class="card-body">
                        <h5 class="card-title">Louis Tomlinson</h5>
                        <p class="card-text">24 de Março</p>
                        <button type="button" class="btn btn-dark">Comprar Ingresso</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="showsNacionais">
    <h1 class="display-4"> Shows Nacionais</h1>
    <div class="container-fluid cardsNasc">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">

                <div class="card h-100 w-100">

                    <img src="../img/anavitoria.jpg" class="card-img-top" alt="Icon-Cheminal">
                    <div class="card-body">
                        <h5 class="card-title">AnaVitoria</h5>
                        <p class="card-text">27 de Novembro</p>
                        <button type="button" class="btn btn-dark">Comprar Ingresso</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 w-100">

                    <img src="../img/Marisa Monte.jpg" class="card-img-top" alt="Icon_Alissia">
                    <div class="card-body">
                        <h5 class="card-title">Marisa Monte</h5>
                        <p class="card-text">25 de Setembro</p>
                        <button type="button" class="btn btn-dark">Comprar Ingresso</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>