
<h1>Novo Usuario</h1>

<form method='POST' action='/usuario/cria'>
    <p><label for="cpf">Informe seu CPF: </label></p>
    <p><input type='number' name='id' value="" size="30" required /></p>

    <p><label for="nome">Informe seu nome completo:</label></p>
    <p><input type='text' name='nome' value="" size="60" required/></p>

    <p><label for="email">Informe seu e-mail:</label></p>
    <p><input type='text' name='email' value="" size="60" required/></p>
    
    <button type="submit">Salvar Usuário</button>
</form>

<br>
<a href="/">Voltar</a>