<!DOCTYPE html>
<html lang="pt-br"></html>
<html>
  <head>
    <title>{{titulo_pagina}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <p><a href="/">Home</a> | <a href="/quemSomos">Quem Somos</a> | <a href="/ajuda">Ajuda</a> | <a href="/meiaEntrada">Meia Entrada</a> | <a href="/usuario">Página do Usuário</a> | <a href="/inscricao">Página de Cadastro</a></p>
    <div class="container">
      {{{body}}}
    </div>
    <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
