<div class="container login">
    <form method="POST" action="/usuario/login">
        <h1>Bem-vindo de volta!</h1>
        <p class="subtitle">Acesse sua conta</p>

        <label for="email">Email</label>
        <input type="text" id="email" name="email" required placeholder="Digite seu email">

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" minlength="8" required placeholder="Digite sua senha">

        <br>
        <button type="submit" class="btn-login">Login</button>
    </form>
    <a href="/inscricao" class="cadastro-link">Ainda não tem uma conta? Cadastre-se</a>
</div>