<div class="container meia">
    <p> A meia-entrada é um benefício garantido por lei que
        permite a compra de ingressos pela metade do valor
        para determinados grupos de pessoas. O objetivo é garantir
        o acesso à cultura e ao entretenimento de forma mais acessível.</p>

    <h5>Quem tem direito á meia-entrada?</h5>
    <p>De acordo com a legislação brasileira, têm direito ao benefício:</p>
    <ul>
        <li>Estudantes (com apresentação da carteirinha estudantil ou declaração da instituição);</li>
        <li>Idosos (a partir de 60 anos, com documento de identidade);</li>
        <li>Pessoas com deficiência (PcD) e seu acompanhante (quando necessário);</li>
        <li>Jovens de baixa renda com idade entre 15 e 29 anos, inscritos no CadÚnico (com ID Jovem);</li>
        <li>Professores da rede pública municipal e estadual (em alguns estados, mediante apresentação de documento
            comprobatório).</li>
    </ul>
    <h5>
        Como comprovar o direito à meia-entrada?
    </h5>
    <p>No dia do evento, é obrigatória a apresentação de um documento válido que comprove o direito ao benefício.
        Exemplo:</p>
    <ul>
        <li>
            Carteira de estudante dentro da validade
        </li>
        <li>
            Documento de identidade com data de nascimento (para idosos)
        </li>
        <li>
            Carteirinha de PcD ou laudo médico

        </li>
        <li>
            ID Jovem impresso ou digital
        </li>
        <li>
            Contracheque ou documento de vínculo com escola (professores)
        </li>
    </ul>
    <p><b>A ausência do documento no dia do show implica na cobrança do valor integral</b></p>

<a href="/"> Voltar</a>
</div>