<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina sobre meia entrada</title>
</head>
<body>
    <p>pagina sobre meia entrada</p>
    <a href="/">Voltar</a>
</body>
</html>