
<h1>Sobre o Stage One</h1>

<h3>Informações do Projeto</h3>
<p><b>Autor: </b>Raiza Faustino Dias e Vitória Marrani Pissaia</p>
<p><b>Data de criação: </b>Agosto de 2025</p>
<p><b>Disciplina: </b>Desenvolvimento Web II</p>

<h3>Objetivo da Aplicação</h3>
<p>escrever dps</p>



<a href="/">Voltar</a>