<div class="container sobre">
<h1>Sobre o Stage One</h1>

  <h3>Informações do Projeto</h3>
    <p><b>Autor:</b> Raiza Faustino Dias e Vitória Marrani Pissaia</p>
    <p><b>Data de criação:</b> Agosto de 2025</p>


    <h3>Objetivo da Aplicação</h3>
    <p>
        O <strong>Stage One</strong> nasceu para conectar apaixonados por música, teatro e eventos ao vivo 
        com experiências inesquecíveis. Nossa plataforma permite visualizar informações detalhadas 
        sobre shows, comprar ingressos de forma prática e segura e acompanhar os eventos mais esperados 
        na sua cidade.  
        Mais do que um sistema de ingressos, queremos ser a ponte entre artistas e público, valorizando 
        a cultura e incentivando a participação em eventos que fazem a vida mais emocionante.
    </p>


<a href="/">Voltar</a>
</div>